.tab 
{
    background-color: white;
    border-color: black;
}
.selected
{
    background-color: cadetblue;
}
body
{
    font-family: Segoe UI, Arial, Helvetica, sans-serif;
    margin: 0px;
    background-color: white;
}
.tab-bar 
{
    background-color: white;
    border-color: black;
    width: 100%;
    border-style: solid;
    border-width: 1px;

}
.tab
{
    margin:0px;
    /* border: 1px solid rgb(185, 185, 185); */
    border-radius: 5px 5px 0px 0px;
    background-color: rgb(226, 226, 226);
    height: auto;
    padding-left: 0.5em;
    padding-Right: 0.5em;
}
.tab.selected
{
    background-color: rgb(173, 198, 245);
}
.explorer
{
    user-select: none; 
}
.explorer-item
{
    
    font-size: small;
}
.explorer-list
{
    display: list-item;
}
.explorer-list-item
{
    display: flex;
}
.explorer-list-item > div
{
    margin-left: 0.5em;
}
.explorer-list-item > img
{
    width: 2em;
}
.explorer-list-item > div
{
    margin-top: auto;
    margin-bottom: auto;
}

.explorer-list-item[data-type="dir"]
{
    order: 1;
}
.explorer-list-item[data-type="file"]
{
    order: 2;
}
.explorer-hoverable
{
    border: 1px solid rgba(255, 255, 255, 0); 
}
.explorer-hoverable:hover
{
    background-color: rgb(200, 212, 228);
    border: 1px solid rgb(146, 176, 218); 
}

.bc-item
{
    display: inline;
    margin: auto;
    padding-left: 0.2em;
    padding-right: 0.2em;
    user-select: none; 
}
.bc-item:hover
{
    display: inline;
    background-color: rgb(200, 212, 228);
}
.bc-sep
{
    width: 0.75em;
}
.breadcrumb
{
    border: 1px solid gray;
    list-style: none;
    padding: 0px;
    padding-left: 1em;
    margin: 0px;
}