.tab 
{
    background-color: white;
    border-color: black;
}
.selected
{
    background-color: cadetblue;
}
body
{
    font-family: Segoe UI, Arial, Helvetica, sans-serif;
    margin: 0px;
    background-color: white;
}
#tab-bar 
{
    background-color: white;
    width: 100%;
    display: flex;
}
.tab
{
    user-select: none;
    margin: 0px;
    min-width: 50px;
    width: 200px;
    text-align: center;

    border-top: 3px solid rgba(0, 0, 0, 0.5);
    border-right: 0.5px solid rgba(0, 0, 0, 0.5);
    border-radius: 3px 3px 0px 0px;
    background-color: rgb(245, 245, 245);
    padding: 0.2em 0.5em;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.tab.selected
{
    background-color: rgb(173, 198, 245);
}
.explorer
{
    user-select: none; 
    overflow: auto;
}
.explorer-item
{
    
    font-size: small;
}
.explorer-list
{
    display: list-item;
}
.explorer-list-item
{
    display: flex;
}
.explorer-list-item > div
{
    margin-left: 0.5em;
}
.explorer-list-item > img
{
    width: 2em;
}
.explorer-list-item > div
{
    margin-top: auto;
    margin-bottom: auto;
}

.explorer-list-item[data-type="unknown"]
{
    color: gray;
}
.explorer-hoverable
{
    border: 1px solid rgba(255, 255, 255, 0); 
}
.explorer-hoverable:hover
{
    background-color: rgb(200, 212, 228);
    border: 1px solid rgb(146, 176, 218); 
}

.bc-item
{
    display: inline-table;
    margin: auto;
    padding-left: 0.2em;
    padding-right: 0.2em;
    user-select: none; 
    cursor: pointer;
}
.bc-item:hover
{
    display: inline;
    background-color: rgb(200, 212, 228);
}
.bc-sep
{
    width: 0.75em;
}
.breadcrumb
{
    border: 1px solid gray;
    list-style: none;
    padding: 0px;
    padding-left: 1em;
    margin: 0px;
}