.tab 
{
    background-color: white;
    border-color: black;
}
.selected
{
    background-color: cadetblue;
}
body
{
    margin: 0px;
}
.tab-bar 
{
    background-color: white;
    border-color: black;
    width: 100%;
    border-style: solid;
    border-width: 1px;

}
.explorer-item
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}
.explorer-list
{
    display: list-item;
}
.explorer-list-item
{
    display: flex;
    
    border: 1px solid rgba(255, 255, 255, 0); 
}
.explorer-list-item > img
{
    width: 2em;
}
.explorer-list-item > div
{
    margin-top: auto;
    margin-bottom: auto;
}

.explorer-list-item[data-type="dir"]
{
    order: 1;
}
.explorer-list-item[data-type="file"]
{
    order: 2;
}
.explorer-list-item:hover
{
    background-color: rgb(200, 212, 228);
    border: 1px solid rgb(146, 176, 218); 
}

.bc-item
{
    display: inline;
}
.breadcrumb
{
    list-style: none;
}
.breadcrumb .bc-item+.bc-item:before {
    padding: 8px;
    color: black;
    content: "·";
}