<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Explorer</title>

    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <div id="caption-bar" style="display: flex;">
        <div id="tab-bar"></div>
        
        <div id="caption-buttons" style="display: flex;">
            <div id="hole-bar" class="caption-button" style="width: 50px;-webkit-app-region: drag;">
                <div style="width: 50px;"></div>
            </div>
            <div id="caption-reduce" class="caption-button">
                <img>
            </div>
            <div id="caption-max" class="caption-button">
                <img>
            </div>
            <div id="caption-close" class="caption-button">
                <img>
            </div>
        </div>
    </div>
    <div id="container"></div>
    <script> require("../renderer-dist/renderer.js")</script>
</body>
</html>
