<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Explorer</title>

    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <div class="tab-bar">
        <button class="tab selected">Documents</button>
        <button class="tab">Disque C</button>
        <button class="tab">Program Files</button>
    </div>
    <ul id="breadcrumb-explorer" class="breadcrumb"></ul>
    <div class="explorer explorer-list"></div>
    <script> require("../renderer-dist/renderer.js")</script>
</body>
</html>
